<!DOCTYPE html>
<html lang=”en”>
 <head>
 <meta charset="utf-8">
 <title>Vue-js | Django | Crud App</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="description" content="A simple crud app made with the vue js and django">

<meta name="keywords" content="vuejs, django, crudapp, restapi">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

  <div id="starting">
         <div class="container">
           <!-- <div class="row"> -->
           <h1>Poors mans twitter</h1>
           <form v-on:submit.prevent="addTweet()">
             <div class="form-group">
               <label for="name">Name</label>
               <input
                 type="text"
                 class="form-control"
                 id="name"
                 placeholder="Enter your name"
                 v-model="newTweet.name"
                 required="required" >
             </div>
             <div class="form-group">
               <label for="tweet">Tweet</label>
               <textarea
                 class="form-control"
                 id="tweet"
                 placeholder="Tweet"
                 v-model="newTweet.tweet"
                 required="required"
                  maxlength="50"
                 rows="3">
                </textarea>
                 </div>
                 <div class="">
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Heading</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tw in tweets">
            <th scope="row">${tw.created_at}</th>
            <td>${tw.tweet}</td>
            <td>${tw.name}</td>
          </tr>
        </tbody>
    </table>

    </div>
     <div class="loading" v-if="loading===true">Loading&#8230;</div>
</div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>


 <script type=”text/javascript”>
 Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    new Vue({
      el: '#starting',
      delimiters: ['${','}'],
      data: {
        tweets: [],
        loading: true,
        currentTweet: {},
        message: null,
        newTweet: { 'name': null, 'tweet': null },
      },
      mounted: function() {
        this.getTweets();
      },
      methods: {
        getTweets: function() {
          let api_url = 'api/';
          this.loading = true;
          this.$http.get(api_url)
              .then((response) => {
                this.tweets = response.data;
                this.loading = false;
              })
              .catch((err) => {
                this.loading = false;
                console.log(err);
              })
        },
        addTweet: function() {
          this.loading = true;
          this.$http.post('api/',this.newTweet)
              .then((response) => {
                this.loading = false;
                this.getTweets();
              })
              .catch((err) => {
                this.loading = true;
                console.log(err);
              })
            }
          }
      });
  </script>
</body>

</html>
